@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v32-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
*, *::before, *::after{
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
}
header{
    background-color: rgb(251, 239, 225);
    justify-content: space-between;
    align-items: center;
}
.tab{
   margin-left: 500px;
   position: relative;
}
.but1{
  padding: 7px 30px !important;
position: absolute;
right: 210px;
top: 10px;
}
button {
    color: rgba(255, 255, 255, 1);
    padding: 11px 51px;
    border-radius: 30px;
    border: none;
    background-color: rgba(113, 64, 235, 1);
    font-size: 18px;

    &:hover {
      background-color: rgb(35, 35, 99);
      color: rgba(113, 64, 235, 1);
      transform: scale(1.1);
      transition: 0.5s;
    }

  }
  .bg1{
    position: relative;
  }
  .but2{
    position: absolute;
    right: 45%;
    top: 300px;
  }
  .sec1 {
    position: relative; 
    text-align: center;
    color: white;
  }
  .bg2{
    size: 90%;
    margin-left: 14px;
  }